{{ form_start(form) }}

    {# Email Field #}
    {{ form_label(form.email, 'Email') }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    {# Password Field #}
    {{ form_label(form.password, 'Password') }}
    {{ form_errors(form.password)}}
    {{ form_widget(form.password) }}

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}